<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Posts</h1>

<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<div><%= simple_format post.body %></div>
	<p id="post_<%= post.id %>_likes"><%= render partial: "likes", locals: {post: post} %>
	<hr />
	<% end %>
	
	<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>

