<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-3"><h1 class="page-header">Listing Books</h1></div><br><br><div class="col-md-9"><%= link_to 'New Book', new_post_path, class: "btn btn-default" %></div>
</div>
<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<div><%= simple_format post.body %></div>
	<p id="post_<%= post.id %>_likes"><%= render partial: "likes", locals: {post: post} %>
	<p><%= link_to 'Bookmark', bookmark_post_path(post), method: :post %></p>
	<hr />
	<% end %>
	
	

